<div class="customers">
  <h1>{{ title }}</h1>

  <div class="select-wrapper">
    <label for="customer">Select a customer:</label>
    <select id="customer" (change)="onCustomerSelected($event)">
      <option
        *ngFor="let customer of customers; trackBy: customerTrackBy"
        [value]="customer.id"
      >
        {{ customer.firstName + " " + customer.lastName }}
      </option>
    </select>
  </div>
</div>

<div *ngIf="selectedCustomer">
  <div *ngIf="isLoading; else goods">
    <div class="loader">Loading data ...</div>
  </div>
  <ng-template #goods>
    <div class="goods">
      <h2>{{ getCustomerName(selectedCustomer.id) }} Purchased products:</h2>
      <ul>
        <li *ngFor="let product of purchasedProducts; trackBy: productsTrackBy">
          {{ product.name }} {{ product.type }}
        </li>
      </ul>
    </div>
  </ng-template>
</div>
